* {
    font-family: 'Poppins', 'inter';
}

.design-container {
    border: 1px solid #000;
    width: 75%;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 200px;
}

.subtitle {
    flex-basis: 100%;
    margin-left: 14px;
}

#colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.design-colors {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 14px;
    text-align: center;
    min-width: 150px;
}

#fonts {
    display: flex;
    flex-direction: column;
}

.font-titles {
    text-decoration: underline;
}

.design-fonts {
    margin-left: 14px;
}