* {
    font-family: 'Poppins', 'inter';
}

h1 {
    font-weight: 700px;
    font-weight: bold;
    font-size: 26px;
    font-family: 'inter';
}

h2 {
    font-weight: 500px;
    font-size: 18px;
    font-family: 'Poppins';
}

p {
    font-weight: 400px;
    font-size: 14px;
    font-family: 'Poppins';
}

.design-container {
    border: 1px solid #000;
    width: 75%;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 200px;
}

.inner-container {
    margin-left: 14px;
}

.subtitle {
    flex-basis: 100%;
}

#colors .inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.design-colors {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 14px;
    text-align: center;
    min-width: 150px;
}

#fonts {
    display: flex;
    flex-direction: column;
}

.font-titles {
    text-decoration: underline;
}