body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General styling */
.cover {
  object-fit: contain;
  object-position: center;
}

.background-blur {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(12px) brightness(0.8);
  z-index: 0;
}

.text-color {
  color: #FF4500;
}

.arrow {
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: inherit;
}

.arrow.downvote {
  transform: rotate(180deg);
}

.arrow.upvote:hover {
  color:#FF4500;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.5);
  transform: scale(1.1); 
}

.arrow.downvote:hover {
  color: #6A5CFF;
  transition: all 0.2s ease;
  box-shadow: 0 0 10px #6a5cff81;
  transform: rotate(180deg) scale(1.1); 
}

.arrow.upvote.active {
  color: #FF4500;
}

.arrow.downvote.active {
  color: #6A5CFF;
}

/* Post Component */
.post {
  height: 60vh;
  width: 60vw;
  max-width: 600px;
  margin: 20px auto;
  margin-bottom: 50px;
  min-width: 500px;
  box-shadow: -5px 5px 12px 4px;
  border-radius: 8px;
}

.post-container {
  height: 100%;
  display: flex;
}

.post-like-count-container {
  width: 15%;
  margin-top: 20px;
}

.post-info-container {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.post-body-container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 15px / 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.post-footer-container {
  margin-top: 15px;
  padding-top: 10px;
  display: flex; 
  justify-content: space-between;
  border-top: 1px solid black;
}

.post-comment-container {
  height: auto;
  width: auto;
}

.post-image {
  position: relative;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Banner Component */
.banner {
  margin-bottom: 36px;
}

.banner-container {
  height: 10vh;
  width: 100%;
  max-height: 10vh;
  display: flex;
  box-shadow: 0 5px 12px 0;
}

.banner-title-logo-container {
  height: inherit;
  display: flex;
  justify-content: center;
}

.banner-icon {
  max-height: inherit;
  margin-right: 4px;
}

.banner-title {
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  align-items: center;
}

@media (max-width: 750px){
  .banner-title-logo-container {
    justify-content: normal;
  }

  .banner-title {
    display: none;
  }

  .search-bar {
    justify-content: center !important;
  }

  .search-bar-container {
    width: 100% !important;
  }
}

/* Post Rating */
.post-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-rating {
  margin: 8px 0;
}

/* Comment */
.comment {

}

.comment-count {
  display: flex;
  align-items: center;
  gap: 6px;
  height: auto;
  width: auto;
  border: none;
  background: inherit;
}

.comment-count:hover {
  cursor: pointer;
}

.comment-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  background: none;
}

/* Search Bar Component */
.search-bar {
  margin: auto 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-bar-container {
  height: 30px;
  max-width: 300px;
  margin-right: 24px;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  position: relative;
  border: 1px solid black;
  border-radius: 16px;
  background-color: whitesmoke;
}

.search-bar-container button {
  height: inherit;
  background: none;
  scale: 1;
  border: none;
  margin-left: 4px;
  padding: 0 6px;
  visibility: hidden;
  position: absolute;
  right: 0;
}

.search-bar-input:focus-within button {
  visibility: visible;
}

.search-bar-container button:hover {
  border-radius: 50%;
  transition: all 0.2s ease;
  color: red
}

.search-bar-input {
  height: 100%;
  width: 300px;
  display: flex;
  border-radius: inherit;
}

.search-bar-input input {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 2px 0 0;
  padding-left: 6px;
  border: none;
  border-radius: inherit;
  background-color: inherit;
}

.search-bar-input input:focus {
  outline: none;
}