body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Post Component */
.post {
  height: 50vh;
  width: 60vw;
  min-width: 500px;
  box-shadow: -5px 5px 12px 4px;
  margin: auto;
  border-radius: 8px;
}

.post-container {
  height: 100%;
  display: flex;
}

.post-like-count-container {
  width: 15%;
  display: inline-flex;
  justify-content: center;
}

.post-info-container {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.post-body-container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  height: 100%;
  width: 100%;
  border-radius: 15px / 13px;
}

.post-footer-container {
  margin-top: 15px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.post-title {
  
}

.post-like-count {

}

.post-image {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
